@use 'partial';

body{
    margin: 0;
    box-sizing: border-box;
    font-family: partial.$font;
    background-color: partial.$bg-color;

    /*Nesting - indsætter alle elementer som har direkte relation til øverste element af blokken*/
        p{
            font-size: 16px;
            color: partial.$text-color;
            line-height: 1.5;
        }

        h1, h2, h3, h4, h5, h6{
            font-weight: 600;
            color: partial.$text-color;
        }
}

img{
    width: 100%;
    height: auto;
}

.container{
    display: grid;
    grid-template-columns: repeat(5, 1fr); /*istedet for at skrive 1fr*3 */
    grid-auto-rows: minmax(50px, auto); /*Ved at bruge minmax sikre vi en minimumstørrelse af vores gridelementer og ved auto sikre vi at boksen tilpasser sig efter dens indhold*/
}

header{
    grid-column: 1/6; /*grid column start og slut på en linje i stedet for to*/
    @include partial.flex($justify: space-between);
    background-color: partial.$nav-color;
    border-bottom: 4px solid partial.$primary-color; 

}

/*Navigation*/
nav{
    color: partial.$text-color;
    height: 4em;
    padding: 1em;
    @include partial.flex($justify: space-between);

        img{
            width: 70px;
        }

        ul{
            @include partial.flex;
            list-style-type: none;
        }   
        
        a{
            color: partial.$text-color;
            padding: partial.$padding;
            margin: partial.$padding;
            font-size: 20px;
            font-weight: bold;
            text-decoration: none;
        }

        ul a:hover{
            color: partial.$primary-color;
        }
    }

    .mobile-nav {

        .bars{
            display: none;
        }
    }

    .ToggleShow{
        display: flex;
        flex-direction: coloumn;
    }

    .active{
        color: partial.$primary-color;
    }

/*Header billeder/banner*/
.header-img{
    position: relative;
    margin-bottom: 1em;

        .banner-tekst{
            position: absolute;
            top: 25%;
            left: 5%;
        }

        h1{
            font-size: 3.5vw;
        }

        p{
            font-size: 2vw;
        }

        a{
            position: absolute;
            @include partial.btn;
        }

        .bg-billede-mobil{
            display: none;
        }
}

main{
    display: grid;
    grid-column: 1/6;
    grid-template-columns: repeat(6, 1fr);

        h2{
            grid-column: 1/7;
            text-align: center;
            font-size: 30px;
        }

        .cta-wrapper{
            grid-column: 1/7;
            display: flex;
            justify-content: space-around;
        }
}

/*CTA bokse*/

.cta-1{
    @include partial.cta-box;

        img{
            margin: 0 auto;
            width: 60%;
            display: block;
        }

        a{
            @include partial.btn;
            display: block;
        }

        p{
            margin-bottom: 2em;
        }
}